.container{
    width: 100%;
    padding-left: 16rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mainTop {
    display: flex;
    justify-content: space-between;
    background: #F1F8FF;
    // padding-left: 18.5rem;

    h1 {
        color: #000000;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 30.17px;
        text-align: left;
    }

    button {
        color: white;
        background-color: #08BA8F;
        font-size: 18px;
        font-weight: 600;
        line-height: 22.63px;
        text-align: center;
        padding: .5rem 2rem;
        margin-right: 2.2rem;
        border-radius: 5px;
    }
}

.main {
    background-color: #F1F8FF;
    display: flex;
    flex-direction: column;

    ::-webkit-scrollbar {
        width: 10px;
        background-color: red;
        max-height: 4px;
    }

    ::-webkit-scrollbar-track {
        background-color: #F1F1FE;
        width: 6px;
        max-height: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #2222B5;
        width: 9px;
        max-height: 4px;
    }

}

.addLocation {

    padding-top: 2.2rem;
    // padding-left: 18.5rem;

    form {
        display: flex;
        // rap: wflex-wrap;
        // justify-content: center;
        gap: 1rem;
        width: 100%;
        // margin-left: 14rem;
    }

    .section1, .section2 {
        // border: 2px solid red;
        background-color: #FFFFFF;
        padding: 1rem 2rem;
        height: 100%;


        .top {
            display: flex;
            justify-content: space-between;
            // gap: 4rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid #C4C2C2;
            padding-bottom: 1rem;

            h1 {
                font-size: 18px;
                font-weight: 400;
                line-height: 22.63px;
                text-align: left;

            }

            .icon {
                background-color: red;
                color: white;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 1.5rem;
            }
        }

        .middle {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;

            .formInput {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                input {
                    background-color: #F6F6F9;
                    width: 17.2rem;
                    border-radius: 5px;
                    border: none;
                }

                h1 {
                    color: #13111F;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22.63px;
                    text-align: left;
                }
            }
        }

        .bottom {
            button {
                // background-color: #10328C;

                color: white;
                font-size: 18px;
                font-weight: 600;
                line-height: 22.63px;
                text-align: center;
                padding: .6rem 7.2rem;
                border-radius: 5px;
            }
        }
    }

    .section3wrapper{
        display: flex;
        flex-direction: column;

        .section3 {
            background-color: white;
            padding: 1rem 1rem;
    
            .top {
                margin-bottom: 2rem;
                border-bottom: 1px solid #C4C2C2;
                padding-bottom: 1rem;
    
                h1 {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22.63px;
                    text-align: left;
    
                }
            }
    
            .middle {
                h1 {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20.11px;
                    text-align: left;
                }
    
                h2 {
                    margin-bottom: 2rem;
                }
    
                .toggler {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1.5rem;
                }
    
                .drop {
                    margin-bottom: 1.5rem;
                }
            }
    
            .bottom {
                button {
                    background-color: #10328C;
    
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22.63px;
                    text-align: center;
                    padding: .6rem 9rem;
                    border-radius: 5px;
                }
            }
        }

        .section4 {
            margin-top: 1.8rem;
            height: 100%;
            background-color: white;
            padding: 1rem 1rem;
            .top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
                border-bottom: 1px solid #C4C2C2;
                padding-bottom: 1rem;

                h1 {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22.63px;
                    text-align: left;
                }

                p {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 22.63px;
                    text-align: right;
                    color: #000000;
                }
            }

            .middle {
                margin-bottom: 1rem;

                .formInput {
                    display: flex;
                    flex-direction: column;
                    gap: .2rem;

                    input {
                        background-color: #F6F6F9;
                        width: 100%;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        outline-style: none;
                    }

                    h1 {
                        color: #13111F;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22.63px;
                        text-align: left;
                    }
                }
            }

            .bottom {


                .tableColomn {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding-right: .5rem;
                    margin-top: 1rem;
                    // border: 1px solid red;
                    max-height: 20rem;
                    overflow-y: scroll;

                }

                .row {
                    display: flex;
                    justify-content: space-between;
                    font-size: 18px;
                    font-weight: 600;

                    .row2 {
                        width: 5rem;
                        margin-right: .8rem;
                    }

                    .row3 {
                        width: 5rem;
                        padding-right: 3rem;
                    }
                }

                .colomn {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    span {
                        padding: .2rem .5rem;
                        // background-color: red;
                        color: white;
                        width: 5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}

.toggle {
    --width: 50px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
}

.toggle__input:checked~.toggle__fill {
    background: #009578;
}

.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle__input:checked~.toggle__fill::after {
    transform: translateX(var(--height));
}