:root {
  --primary-color: #032a76;
  --white: #ffffff;
  --sidebar-primary: #353e47;
  --sidebar-primary-hover: #353e47;
  --sidebar-background: #032a76;
  --background: #f1f3ff;
  --text-link: #98a2b3;
  --headline: #cbd1d8;
  --expand-button: #353e47;
  --logout: #fa7575;
  --base-font: "Source Sans 3", sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  z-index: 100000000;
  max-width: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  color: var(--white);
  background: #032a76;
  transition: max-width 0.1s ease-in-out;
  padding-top: 1rem;
}

body.collapsed .sidebar {
  max-width: 5rem;
  display: flex;
}

.sidebar-top-wrapper {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.sidebar-top {
  /* position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 4rem;
  padding-bottom: 1rem; */
}

body.collapsed .sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  gap: .7rem;
  /* margin-top: -0.25rem;
  display: flex;
  align-items: center;
  color: var(--text-link);
  font-weight: 700;
  text-decoration: none;
  gap: 0.5rem; */
  /* padding: 0 1rem; */
}

.logo__wrapper img{
  width: 40px;
  height: 40px;
}

.sidebar-links-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar-link{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-title {
  font-family: var(--base-font);
  font-size: 1rem;
  font-weight: 400;
}

.logo-title{
  font-family: var(--base-font);
  font-size: 25px;
  font-weight: 700;
}
